blockquote {
    background-color: whitesmoke;
    font-style: normal;
    margin-right: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1.17812rem;
    padding-right: 1.17812rem;
}

blockquote.p {
    margin-right: 10px;
}

body {
  color: #373D3F;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
}

header.home-link {
    border-bottom: 2px solid black;
}

input {
  border-width: 0 0 2px;
  border-color: gray;

  -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
  -webkit-appearance: none;

  box-sizing : border-box;
  font-size: larger;
  outline: 0;
  padding-bottom: 6px;
  width: 90%;
}

input:focus {
  border-color: black;
}

li em {
    font-weight: 600;
}

main.home-main {
  margin-top: -20px;
  margin-bottom: 100px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

ul li {
  margin-bottom: 0.3rem;
}
