blockquote {
    background-color: whitesmoke;
    padding-top: 6px;
    padding-bottom: 6px;
    font-style: normal;
}

blockquote.p {
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
}

header.home-link {
    border-bottom: 2px solid black;
}